::ng-deep .navbar{
    background-color: var(--salmon) !important;
}

mdb-navbar-brand a{
    font-family: 'Neucha', sans-serif;
    font-size: 25pt;
    color: var(--black);
}

mdb-navbar-brand a:hover{
    opacity: 0.5;
}