<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light sticky-top" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['/']">Nadia Vidmar</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li>
                <a href="mailto:nadia@vidmar.xyz" class="nav-link waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only"></span>
                </a>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->