body {
    height: 100vh;
    background-color: var(--white);
}
  
.mainbox {
    background-color: transparent;
    margin: auto;
    padding: 4vmin;
}
  
.err {
    color: var(--golden);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25vmin;
    display: inline-block;
}

.far {
    font-size: 20vmin;
    color: var(--golden);
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--dark-brown);
}

a {
    text-decoration: none;
    color: var(--golden);
}

@media (hover: hover) {
    a:hover {
        text-decoration: underline;
    }
}

#e404{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}