h1 a{
    transition: all ease-in-out 250ms;
}

h1 a:hover{
    opacity: 0.8;
}

h3{
    padding-left: 2vmin;
}

#container{
    padding: 4vmin;
    background: var(--salmon);
    background-image:
    linear-gradient(to bottom, rgba(250,246,242, 0.5), rgba(212,157,142, 0.7)),
    url(./../../assets/categories/bckg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.cardContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cardSpace{
    max-width: 300pt;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2vmin;
}