<div id="container" *ngIf='!loading'>
    <h1><a [routerLink]="['/home']">🔙</a></h1>
    <hr>
    <h1>{{title}}</h1>
    <br>

    <div *ngFor='let year of yearData'>
        <h3>{{year.ynum}}</h3>
        <!-- Card -->
        <div class="cardContainer">
            <div class="cardSpace" *ngFor='let activity of year.activities | async'>
                <mdb-card class="card">
                    <div class="view overlay waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <div *ngIf="activity.emoji!=''" class="emojiContainer">
                            {{activity.emoji}}
                        </div>
                        <mdb-card-img *ngIf="activity.imgLink[0]!=''" src="{{activity.imgLink[0]}}" alt="{{activity.title +' image}}"></mdb-card-img>
                        <mdb-card-img *ngIf="activity.imgLink[0]==''" src="./../../assets/grayloading.jpg" alt="Didnt Load"></mdb-card-img>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>{{activity.title}}</h4>
                        </mdb-card-title>
        
                        <!--Text-->
                        <mdb-card-text>{{activity.shortDesc}}</mdb-card-text>
        
                        <a [routerLink]="generateUrl(year.ynum,code,activity.docId)"><button type="button" mdbBtn color="light" mdbWavesEffect>Read More</button></a>
                    </mdb-card-body>
                </mdb-card>
            </div>
            
        </div>
        <br>
    </div>

</div>

<div id="container" *ngIf='loading'>
    <h1><a [routerLink]="['/home']">🔙</a></h1>
    <hr>
    <h1>{{title}}</h1>
    <br>

    <div *ngFor='let data of placeHolderData'>
        <h3>Year</h3>
        <!-- Card -->
        <div class="cardContainer">
            <div class="cardSpace" *ngFor='let data of placeHolderData'>
                <mdb-card class="card">
                    <div class="view overlay waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="./../../assets/grayloading.jpg" alt="Loading Image">
                        </mdb-card-img>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4 class="loading">Title</h4>
                        </mdb-card-title>
        
                        <!--Text-->
                        <div class="loading">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur officiis a ullam sapiente deleniti. Odit iusto distinctio quia tempore
                        </div>
                        <mdb-card-text></mdb-card-text>
        
                        <a [routerLink]=""><button type="button" mdbBtn color="light" mdbWavesEffect>Read More</button></a>
                    </mdb-card-body>
                </mdb-card>
            </div>
            
        </div>
        <br>
    </div>

</div>