<div *ngIf="loaded">
    <div class="hdr">
        <img src="{{(doc | async)?.imgLink[0]}}" alt="Header Image">
        <h1>{{(doc | async)?.title}}</h1>
    </div>
    <div id="category" [style.background-color]="catColor">
        {{category}}
    </div>
    <p id="shortDesc">
        {{(doc | async)?.shortDesc}}
    </p>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md d-flex justify-content-center"
                *ngFor="let ilink of ((doc | async)?.imgLink); let i as index">
                <img class="gal" src="{{ilink}}" [alt]="'Image '+i">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Description</h3>
                <p>{{(doc | async)?.desc}}</p>
            </div>
            <div class="col-md-6">
                <h3>Translation</h3>
                <p>{{(doc | async)?.trans}}</p>    
            </div>
        </div>
    </div>
</div>