.hdr img{
    width: 100%;
    height: 150pt;
    object-fit: cover;
    filter: blur(3px);
    transform: scale(1.05);
}

.hdr h1{
    color: var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 4vmin;
}

.hdr {
    position: relative;
    text-align: center;
    overflow: hidden;
}

#category{
    background-color: silver;
    width: fit-content;
    border-radius: 10pt;
    padding-left: 5pt;
    padding-right: 5pt;
    margin: 6vmin;
}

#shortDesc{
    margin: 6vmin;
    border-left: 3px solid var(--black);
    padding-left: 2vmin;
}

.gal{
    width: 100%;
    height: 100%;
    display: block;
    padding: 1vmin;
    object-fit: cover;
}

.section{
    width: auto;
    margin-right: 4vmin;
    margin-left: 4vmin;
    overflow: hidden;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.item{
    max-width: 300pt;
    flex-shrink: 1;
    flex-grow: 1;
}

.item img{
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

.item img:hover{
    opacity: 0.9;
}

#bckgCont{
    background-color: var(--salmon);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23faf6f2' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

hr{
    border: var(--black) 2px solid;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}