<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="item">
            <div class="polaroid"><img src="./../../../assets/mainpage/profilepic.jpg">
                <div class="caption">Me</div>
            </div>
        </div>
      </div>
      <div class="col-sm-8 d-flex align-items-center">
        <div>
          <h1>
            <div class="highlightContainer">
              <span class="highlight1 overlap op">Nadia</span>
              <span class="overlap">Nadia</span>
              <span class="highlight1 overlap">Nadia</span>
              Nadia
            </div>
            <div class="highlightContainer">
              <span class="highlight2 overlap op">Vidmar</span>
              <span class="overlap">Vidmar</span>
              <span class="highlight2 overlap">Vidmar</span>
              Vidmar
            </div>
          </h1>
          <h3>International student</h3>
        </div>
      </div>
    </div>
</div>