h1{
    font-size: 35pt;
    width: fit-content;
}

h2{
    width: fit-content;
}

.category{
    padding-left: 4vmin;
    margin-bottom: 10vmin;
}

hr{
    border: var(--gray-dark) solid 1px;
}

#container{
    padding: 4vmin;
}

