h1{
    font-size: 35pt;
    width: fit-content;
}

h2{
    width: fit-content;
}

hr{
    border: var(--gray-dark) solid 1px;
}

#container{
    padding: 4vmin;
}

button{
    display: block;
    margin-left: auto;
}