// Gotta set color vars
:root{
    --dark-brown: #683B2B;
    --dark-pink: #D49D8E;
    --salmon: #DED1BD;
    --salmon-rgb: 222, 209, 189;
    --white: #FAF6F2;
    --white-rgb: 250,246, 242;
    --golden: palegoldenrod;
    --black: #212529;

    .highlightEffectYellow{
        background-image: linear-gradient(var(--golden), var(--golden));
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: 0% 100%;
        transition: ease-in-out 0.5s all;
    }

    @media (hover: hover) {
        .highlightEffectYellow:hover{
            background-size: 100% 100%;
        }
    }  

    .highlightEffectPink{
        background-image: linear-gradient(var(--salmon), var(--salmon));
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: 0% 100%;
        transition: ease-in-out 0.5s all;
    }

    @media (hover: hover) {
        .highlightEffectPink:hover{
            background-size: 100% 100%;
        }
    }

    .loading{
        color: silver;
        background-color: silver;
        padding: 1vmin;
        border-radius: 5pt;
    }
    
}