<div class="container">
    <div class="row">
      <div class="col-md">
        <h2>🆔 About me</h2>
        <p>
          Hello examiner! My name is Nadia Yael Vidmar I'm a curious Highschool student who loves drawing and playing instruments.
          <br>
          I am a sport aficionado, swimming, roller skating, surfing, snowboarding, you call it.
        </p>
      </div>
      <div class="col-md">
        <h2>✅ Some facts</h2>
        <ul id="doubleColumn">
            <li>🧉Argentinian</li>
            <li>🎉{{age}} years old</li>
            <li>🍯Dulce de leche lover</li>
            <li>🎹Instrument player</li>
            <li>🌎Trilingual
              <ul>
                <li>🇪🇸Spanish</li>
                <li>🇬🇧English</li>
                <li>🇫🇷French</li>
              </ul>
            </li>
        </ul>
      </div>
    </div>
</div>