<div class="container">
    <div class="row">
      <div class="col-md">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorem quisquam assumenda quos unde in? Voluptatibus quae modi, est, esse vitae commodi libero expedita nemo tenetur, tempora quod! Voluptatibus, eos.</p>
      </div>
      <div class="col-md">
        <h2>Some facts</h2>
        <ul>
            <li>asdsadasd</li>
            <li>asdasd
                <ul>
                    <li>viao</li>
                    <li>viao</li>
                    <li>viao</li>
                </ul>
            </li>
            <li>asdsadasd</li>
            <li>asdsadasd</li>
            <li>asdsadasd</li>
        </ul>
      </div>
    </div>
</div>